[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "telemetR"]
	path = telemetR
	url = https://github.com/tspaulding-esa/telemetr
